{% extends 'base.html' %}

{% load bootstrap_toolkit %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h1>{{ auction.name }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="span2">
            <img src="{% static 'img/stock_room.png' %}" />
        </div>
        <div class="span6">
            {{ auction.pretty_auction_type }}
            <address>{{ auction.address }}</address>
        </div>
        <div class="span2">
            <span class="price">{{ auction.pretty_last_bid }}</span>
        </div>
    </div>

    <div class="row">
        <div class="span2"></div>
        <div class="span10">
            <form class="form-inline add_bid" method="post" action="{% url commons.views.place_bid auction.id %}">
                {% csrf_token %}

                <input type="text" name="value" id="id_value" placeholder="Value">
                <textarea id="id_comment" rows="10" cols="30" name="comment" placeholder="Comment"></textarea>
                <button type="submit" class="btn btn-primary">Place Bid!</button>
            </form>
        </div>
    </div>
{% endblock %}