{% extends 'base.html' %}

{% load url from future %}

{% block content %}
    <h1>{{ user.username }}</h1>

    <hr />

    <h2>Open auctions</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Auction</th>
                <th>Creation date</th>
                <th>Minimum bid</th>
            </tr>
        </thead>
        {% for auction in user.auction_set.all %}
            <tr>
                <td><a href="{% url 'auction_detail' auction.id %}">{{ auction.name }}</a></td>
                <td>{{ auction.creation_date }}</td>
                <td>{{ auction.pretty_minimum_bid }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}