{% load static %}
{% load url from future %}

<div class="row auction_list_display">
    <div class="span2">
        <img src="{% static 'img/stock_room.png' %}" />
    </div>
    <div class="span6">
        <h3><a href="{% url 'auction_detail' auction.id %}">{{ auction.name }}</a></h3>
        {{ auction.pretty_auction_type }}
        <address>{{ auction.address }}</address>
    </div>
    <div class="span2">
        <span class="price">{{ auction.pretty_minimum_bid }}</span>
        <span class="price">{{ auction.pretty_last_bid }}</span>

        <br />
        <a href="{% url 'auction_detail' auction.id %}" class="btn btn-success apply_button">Apply!</a>
    </div>
</div>