span.price {
    font-family: "Josefin Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #f00000;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
}

.auction_list_display h3 {
    margin-top: 0;
    line-height: inherit;
}

.auction_list_display {
    margin-bottom: 30px;
}

.auction_list_display h3 a {
    text-decoration: none;
    color: inherit;
}

.apply_button {
    margin-top: 10px;
}

form.add_bid input, form.add_bid button {
    vertical-align: top;
}

.dropdown-menu img, .dropdown-toggle img {
    padding-bottom: 4px;
}