span.price {
    color: #f00000;
    font-weight: bold;
    font-size: 20px;
}

.auction_list_display h3 {
    margin-top: 0;
    line-height: inherit;
}

.auction_list_display {
    margin-bottom: 30px;
}

.auction_list_display h3 a {
    text-decoration: none;
    color: inherit;
}

.apply_button {
    margin-top: 10px;
}